.section_product {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 5rem;
}

.section_product img {
	width: 30%;
	height: 50%;
}

a {
	color: #9c2424;
}
